.header-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(17, 109, 101);
  color: white;
  height: 15vh;
}

.header-container > img {
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  margin: 0.5vh;
}
